@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Major+Mono+Display&display=swap');

:root {
    --cor001: white; 
    --cor002: #6b100d; 

    --fonte-padrao: arial, verdana, helvetica;
    --fonte-destaque:'Bebas Neue', sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color:var(--cor001);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--fonte-padrao);
}
header {
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1{
    font-size: 5em;
    margin-bottom: 2px;
    font-family: 'Major Mono Display', monospace;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.61);
}
header > p{
    font-size: 1.6em;
    max-width: 600px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.61);
    margin: auto;
}
nav {
    background-color:var(--cor001);
    font-family: var(--fonte-padrao);
    padding: 7px;
    text-align: center;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.479);
}
nav > a{
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.5s;
}
nav > a:hover{
    background-color: var(--cor002);
    color: var(--cor001);
}
.aspv{
    color: var(--cor002);
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    text-shadow: 0px 0px 0px white;
}

.hc {
    background-color: var(--cor001);
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.479);
    color: black;
    text-align: center;
    font-size: 1.3em;
    margin: auto;
}
.hc > a {
    text-decoration:none
}
.hc > a > h2 {
    font-family: var(--fonte-destaque);
    color: var(--cor002);
    transition-duration: 0.5s;
}
.hc > a:hover > h2{
    background-color: var(--cor002);
    color: var(--cor001);
}
.hc > h3{
    font-family: var(--fonte-destaque);
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.479);
}
.hc > p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.wmgw {
    text-align: center;
    font-size: 1.3em;
}
.wmgw > a{
    text-decoration: none;
}
.wmgw > a > h2 {
    padding-top: 5px;
    font-family: var(--fonte-destaque);
    color: var(--cor001);
    transition-duration: 0.5s;
}
.wmgw > a:hover > h2{
    background-color: var(--cor001);
    color: var(--cor002);
}
.wmgw > h3 {
    color: var(--cor002);
    font-family: var(--fonte-destaque);

}
.wmgw > p {
    padding-top: 10px;
    padding-bottom: 20px;
}

.g {
    background-color: var(--cor001);
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.479);
    color: black;    
    text-align: center;
    font-size: 1.3em;
    margin: auto;
}
.g > a {
    text-decoration: none;
    color: var(--cor002);
    font-family: var(--fonte-destaque);
}
.g > a > h2 {
    transition-duration: 0.5s;
}
.g > a:hover > h2{
    background-color: var(--cor002);
    color: var(--cor001);
}
.g > h3 {
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.479);
    font-family: var(--fonte-destaque);
}
.g > p{
    padding-top: 20px;
    padding-bottom: 20px;
}

.my {
    text-align: center;
    font-size: 1.3em;
}
.my > a {
    text-decoration: none;
}
.my > a > h2{
    padding-top: 5px;
    font-family: var(--fonte-destaque);
    color: var(--cor001);
    transition-duration: 0.5s;
}
.my > a:hover > h2{
    background-color: var(--cor001);
    color: var(--cor002);
}
.my > h3 {
    color: var(--cor002);
    font-family: var(--fonte-destaque);
}
.my > p{
    padding-top: 10px;
    padding-bottom: 20px;
}
.ld {
    background-color: var(--cor001);
    color: black;
    text-align: center;
    font-size: 1.3em;
    margin: auto;
}
.ld > a {
    text-decoration: none;
    color: var(--cor002);
    font-family: var(--fonte-destaque);
}
.ld > a > h2 {
    transition-duration: 0.5s;
}
.ld > a:hover > h2{
    background-color: var(--cor002);
    color: var(--cor001);
}
.ld> h3 {
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.479);
    font-family: var(--fonte-destaque);
}
.ld> p{
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    font-family: var(--fonte-destaque);
    text-align: center;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 20px;
}

